
nav  {
  margin-top: 20px;
  list-style-type: none;
  display: flex;
      justify-content: space-around;
      padding: 0;
      border-bottom: 1px solid #ddd;
}

nav a {
  padding: 10px;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  transition-duration: .2s;
}
nav a:hover {
  border-bottom: 3px solid coral;
}

